<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @cocktail.image_url %>)">
  <%= @cocktail.name %>
</div>
<div class="container">
<h2>ingredients:</h2>
<% @cocktail.doses.each do |d| %>
<li> <%= d.ingredient.name %> -- <%= d.description %></li>
<% end %>

<%= link_to "Add a new ingredient", cocktail_doses_new_path(@cocktail)  %>


</div>
