<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
  <%= @cocktail.name %>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card show-page">
      <div class="card-body">
        <h5 class="card-title">Ingredients</h5>
          <% @cocktail.doses.each do |d| %>
            <p class="card-text"><li><%= d.ingredient.name %> -- <%= d.description %></li></p>
          <% end  %>
        <%= link_to 'New ingredient', cocktail_doses_new_path(@cocktail), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card show-page">
      <div class="card-body">
        <h5 class="card-title">Instructions</h5>
        <p class="card-text"><%= @cocktail.instructions %> </p>
      </div>
    </div>
  </div>
</div>

